<div id="cocktail-homepage">
  <div class="mt-0 banner">
    <h1 class="banner-text">
      best drinks around
    </h1>
  </div>
      <h2>cocktails list</h2>
    <div class="container card-box">
      <% @cocktails.each do |cocktail| %>
          <%= link_to cocktail do %>
              <div class="cocktail-card">
                <% if cocktail.photo.file.nil? %>
                  <%= image_tag ("blank-cocktail.jpg"), class: "cocktail-img" %>
                <% else %>
                  <%= cl_image_tag cocktail.photo, class: "cocktail-img" %>
                <% end %>
                <div class="cocktail-card-text">
                  <h4>
                    <%= cocktail.name %>
                  </h4>
                </div>
              </div>
          <% end %>
      <% end %>
  </div>
  <%= link_to new_cocktail_path do %>
    <p class="btn btn-success new-button">New Recipe</p>
  <% end %>
</div>
