<div class="container">
  <h1>New Cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to "Back to list", cocktails_path %>

</div>
