<div class="container text-center">
  <h1><%= @cocktail.name %></h1>
  <% if @cocktail.photo.file.nil? %>
    <%= image_tag ("blank-cocktail.jpg"), height: 300, crop: :fill %>
  <% else %>
    <%= cl_image_tag @cocktail.photo, height: 300, crop: :fill %>
  <% end %>
  <h2>doses</h2>
    <% @cocktail.doses.each do |dose| %>
        <p>
        <%= dose.description %> - <%= dose.ingredient.name  %>
          <%= link_to "X", dose, method: :delete, data: {confirm: "Are you sure?"} %>
        </p>
    <% end %>

  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success" %>

  <%= link_to "Back to list", cocktails_path, class: "btn btn-success" %>

</div>
