<div class="container">
  <h1>New Dose - <%= @cocktail.name %></h1>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.button :submit %>
  <% end %>

  <%= link_to @cocktail do %>
    <p class"btn btn-success">Back to <%= @cocktail.name %></p>
  <% end %>
</div>
